section.cases
    .container
        h2.cases__title  Примеры выполненные проектов
        .cases__text Работали и работаем с самыми крупными клиентами по всей России.
        .cases__items
            .cases__item.lazyload(data-bg="/img/case1.jpg")
                .cases__item-content
                    .cases__item-title Сибур
                    .cases__item-text Амурский газохимический комплекс
            .cases__item.lazyload(data-bg="/img/case2.jpg")
                .cases__item-content
                    .cases__item-title Северсталь
                    .cases__item-text Крупнейшая сталелитейная компания
            .cases__item.lazyload(data-bg="/img/case3.jpg")
                .cases__item-content
                    .cases__item-title Сибирская угольная энергетическая компания
                    .cases__item-text Предприятие, обеспечивающее почти треть всей добычи угля в стране
            .cases__item.lazyload(data-bg="/img/case4.jpg")
                .cases__item-content
                    .cases__item-title АвтоВАЗ
                    .cases__item-text Крупнейший производитель автомобилей в Российской Федерации