section.advantages
    .container
        .advanatages__items
            .advantages__item
                .advantages__left
                    .advantages__img
                        img(src="/img/svg/08.svg")
                .advantages__content
                    .advantages__title Более 10 лет
                    .advantages__text Успешных поставок и выполнения работ на предприятиях России
            .advantages__item
                .advantages__left
                    .advantages__img
                        img(src="/img/svg/09.svg")
                .advantages__content
                    .advantages__title 50 000+
                    .advantages__text Единиц оборудования поставлено и успешно введено в эксплуатацию
            .advantages__item
                .advantages__left
                    .advantages__img
                        img(src="/img/svg/04.svg")
                .advantages__content
                    .advantages__title 30+ профессионалов
                    .advantages__text Которые ежедневно проектируют, поставляют и внедряют наши продукты
            .advantages__item
                .advantages__left
                    .advantages__img
                        img(src="/img/svg/02.svg")
                .advantages__content
                    .advantages__title Качественное оборудование
                    .advantages__text Которое без проблем работает десятилетия в промышленных реалиях