section.about-company
    .container
        h2.about-company__title  О компании <span>ООО «ВогезЭнерго»</span>
        .about-company__inner
            .about-company__left
                .about-company__img
                    img(src="/img/about.jpg")
            .about-company__right
                .about-company__text
                    p 
                        b  Оборудование для предприятий и промышленная автоматизация
                    p 
                        strong Компания ООО «ВОГЕЗЭНЕРГО» — официальное представительство торговых марок «ВОГЕЗ» и «DAV Control» на территории Российской Федерации, а также специализируется в области промышленной автоматизации от разработки проекта до внедрения.
                    p Некоторые особенности нашей работы:
                    ul
                        li Проектирование систем отопления и ГВС, производство и монтаж;
                        li Доставка по Москве осуществляется каждый понедельник и вторник
                        li ВТР 310И в наличии на складе
                        li Все серии приводов ВЭП могут устанавливаться на клапана Danfoss, Siemens, Schneider, ТА и многие другие
                        li Многое другое

                .about-company__btns
                    a.about-company__btn.btn-dark.btn-big(href="#") Подробнее о компании





