section.product-types.product-types-premium
    .container
        h2 Типы продукции
        .product-types__block
            .product-types__bg
            .product-types__inner
                .product-types__top
                    .product-types__title 
                        span Премиум
                    a.product-types__btn.btn-white.btn-small(href="#") Все товары «Премиум»
                .product-types__text(data-spoiler) 
                    p Премиальное промышленное оборудование представляет собой высококачественные машины и устройства, которые обеспечивают оптимальную производительность и долговечность. Оно часто включает в себя инновационные технологии и функции для улучшения эффективности процессов и увеличения производственной мощности.
                    span(data-close-text="Скрыть", data-open-text="Читать подробнее") 
                .product-types__slider
                    .splide(data-slider="types")
                        .splide__track
                            .splide__list
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type1.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Клапаны регулирующие 2-3-х ходовые
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки
                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide        
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type2.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Моторизованные краны
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее


                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type3.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Электроприводы DAV
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type4.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Насосы циркуляционные
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее

                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type1.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Клапаны регулирующие 2-3-х ходовые
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки
                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide        
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type2.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Моторизованные краны
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее


                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type3.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Электроприводы DAV
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type4.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Насосы циркуляционные
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type1.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Клапаны регулирующие 2-3-х ходовые
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки
                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide        
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type2.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Моторизованные краны
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее


                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type3.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Электроприводы DAV
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-bg
                                        .product-types__item-inner
                                            .product-types__item-top
                                                .product-types__item-img
                                                    img(src="/img/type4.png")
                                                .product-types__item-content
                                                    .product-types__item-title 
                                                        a(href="#") Насосы циркуляционные
                                                    ul
                                                        li особенность или описание подкатегории в 1-2 строки
                                                        li вторая особенность
                                                        li третья особенность, специально описанная в 2 строки

                                            .product-types__item-btns
                                                a.product-types__item-btn.btn-small(href="#") Подробнее