extends layouts/home

block content
  include ../components/mainslider/view.pug
  include ../components/advantages/view.pug
  include ../components/types1/view.pug
  include ../components/types2/view.pug
  include ../components/types3/view.pug
  include ../components/about/view.pug
  include ../components/cases/view.pug



block scripts
  script(src="/js/vendor.js")
  script(src="/js/common.js")

