section.mainslider
    .container
        .mainslider__top
            .splide(data-slider="main-banner")
                .splide__track
                    .splide__list
                        .splide__slide
                            .mainslider__inner
                                .mainslider__left
                                    .mainslider__title Оборудование для автоматизации технологических процессов
                                    .mainslider__text Компания ООО «ВогезЭнерго» является представительством торговых марок «ВОГЕЗ» и «DAV Control» на территории Российской Федерации. Также мы специализируемся в области промышленной автоматизации от разработки проекта до внедрения.
                                .mainslider__products
                                    .mainslider__product.mainslider__product-left(data-bg="/img/img-1.png")
                                    .mainslider__product.mainslider__product-right(data-bg="/img/img-3.png") 
                                .mainslider__btns 
                                    a.btn-white.btn-big(hre="#") Смотреть в каталоге
                        .splide__slide                                     
                            .mainslider__inner
                                .mainslider__left
                                    .mainslider__title Оборудование для автоматизации технологических процессов
                                    .mainslider__text Компания ООО «ВогезЭнерго» является представительством торговых марок «ВОГЕЗ» и «DAV Control» на территории Российской Федерации. Также мы специализируемся в области промышленной автоматизации от разработки проекта до внедрения.
                                .mainslider__products
                                    .mainslider__product.mainslider__product-left(data-bg="/img/img-1.png")
                                    .mainslider__product.mainslider__product-right(data-bg="/img/img-3.png")
                                .mainslider__btns 
                                    a.btn-white.btn-big(hre="#") Смотреть в каталоге