.header__top
    .container
        .header__wrapper
            .header__logo
                a(href='/')
                    img(src="/img/logo.png")
            .header__center
                .header__catalog.header__square
                    .header__square-link.header__catalog-link
                        a(href="#")
                            span Каталог
                    .header__sub.header__menu-catalog.dnone
                        .container
                            .header__sub-top
                                .header__sub-title Каталог продукции
                            .header__sub-list
                                ul
                                    li
                                        a(href="#")  Теплосчетчики
                                    li
                                        a(href="#")  Ультразвуковые расходомеры
                                    li
                                        a(href="#")  Электромагнитные расходомеры
                                    li
                                        a(href="#")  Пищевые расходомеры (расходомеры для молока)
                                    li
                                        a(href="#")  Взрывозащищенные электромагнитные расходомеры
                                    li
                                        a(href="#")  Взрывозащищенные ультразвуковые расходомеры
                                    li
                                        a(href="#")  Контроллеры
                                    li
                                        a(href="#")  Регуляторы давления перепада давления (после себя)
                                    li
                                        a(href="#")  Регуляторы давления до себя (перепуска)
                                    li
                                        a(href="#")  Автоматическая защита от превышения давления
                                    li
                                        a(href="#")  Двухходовые регулирующие клапана
                                    li
                                        a(href="#")  Балансировочные клапаны
                                    li
                                        a(href="#")  Электроприводы
                                    li
                                        a(href="#")  Пластинчатые теплообменники
                                    li
                                        a(href="#")  Посадочный раздел каталога 1
                                    li
                                        a(href="#")  Посадочный раздел каталога 2
                                    li
                                        a(href="#")  Контроллеры
                                    li
                                        a(href="#")  Посадочный раздел каталога 3

                            .header__sub-bottom
                                a.btn-dark.btn-big(href="#") Смотреть весь каталог


                nav.header__menu.header__square
                    .header__square-link.header__menu-link
                        span
                    .header__sub.header__sub-menu.dnone
                        .container
                            .header__sub-top
                                .header__sub-title Меню
                                    a(href="#")
                            .header__sub-list
                                ul
                                    li
                                        .header__menu-item
                                            a(href='#') О компании
                                    li.parent
                                        .header__menu-item
                                            a(href='#') Документация
                                            ul
                                                li
                                                    a(href='#') Документация1
                                    li
                                        .header__menu-item
                                            a(href='#') Проектировщикам
                                    li
                                        .header__menu-item
                                            a(href='#') Контакты
                .header__search-top
                    .header__search-icon-wrap
                         .header__search-icon(data-header-search)
                .header__search-bottom
                    form(action="#") 
                        input(type="text")(placeholder="Поиск")
  

                .header__phone.header__square
                    .header__square-link.header__phone-link
                        span
                            a(href="tel:74953635650") +7 (495) 363-56-50

                    .header__sub.header__menu-phone.dnone
                        .container
                            .header__sub-top
                                .header__sub-title Наши контакты
                            .header__sub-list
                                .header__regions
                                    .header__region
                                        .header__region-title Москва:
                                        .header__region-content
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                    .header__region
                                        .header__region-title Санкт-Петербург:
                                        .header__region-content
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                            .header__region-name Александр Фролов
                                    .header__region
                                        .header__region-title Новосибирск:
                                        .header__region-content
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                            .header__region-name Виталий Селемнев
                                    .header__region
                                        .header__region-title Воронеж:
                                        .header__region-content
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                            .header__region-name Виталий Шиганов
                                    .header__region
                                        .header__region-title Волгоград:
                                        .header__region-content
                                            a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                                            .header__region-name Александр Трудников
                            .header__sub-bottom
                                a.btn-dark.btn-big(href="#") Обратный звонок
        .header__btn
            a.btn-dark.btn-small(href='#') Программа подбора



//.header__menu.header__menu-contacts
    .container
        .header__menu-top
            .header__menu-title Наши контакты
        .header__regions
            .header__region
                .header__region-title Санкт-Петербург:
                .header__region-content
                    a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                    .header__region-name Александр Фролов
            .header__region
                .header__region-title Новосибирск:
                .header__region-content
                    a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                    .header__region-name Виталий Селемнев
            .header__region
                .header__region-title Воронеж:
                .header__region-content
                    a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                    .header__region-name Виталий Шиганов
            .header__region
                .header__region-title Волгоград:
                .header__region-content
                    a.header__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                    .header__region-name Александр Трудников
        .header__menu-bottom
            a.btn-dark.btn-big(href="#") Обратный звонок

//.header__menu.header__menu-pages
    .container
        .header__menu-top
            .header__menu-title Меню
            .header__menu-search
        .header__menu-list
            ul
                li
                    a(href="#")  О компании
                li
                    a(href="#")  Документация
                li
                    a(href="#")  Проектировщикам
                li
                    a(href="#")  Контакты
                li
                    a(href="#")  Взрывозащищенные электромагнитные расходомеры
                li

