.footer__top
    .container
        .footer__cols
            .footer__col.footer__col1
                .footer__logo
                    a(href="/")
                        img(src="/img/logo-white.png")
                .footer__text         Компания ООО «ВОГЕЗЭНЕРГО» — официальное представительство торговых марок «ВОГЕЗ» и «DAV Control» на территории Российской Федерации, а также специализируется в области промышленной автоматизации от разработки проекта до внедрения.
                .footer__socials
                    a.footer__social.footer__social-vk(href="#")
                    a.footer__social.footer__social-inst(href="#")

            .footer__col.footer__col2
                .footer__title Меню
                .footer__menu
                    ul
                        li
                            a(href="#") Каталог продукции
                        li
                            a(href="#") Документация
                        li
                            a(href="#") Проектировщикам
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Контакты
                        li
                            a(href="#") Политика конфиденциальности

            .footer__col.footer__col3
                .footer__title Офис в Москве
                .footer__phones
                    .footer__phone
                        a(href="tel:84953635650") 8 (495) 363-56-50
                    .footer__phone    
                        a(href="tel:84952210174") 8 (495) 221-01-74
                .footer__address 125362, г. Москва, Строительный пр-д., д. 7А, корп. 28 комната 104-106

            .footer__col.footer__col4
                .footer__title Другие регионы
                .footer__regions
                    .footer__region
                        .footer__region-title Санкт-Петербург:
                        .footer__region-content
                            a.footer__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                            .footer__region-name Александр Фролов
                    .footer__region
                        .footer__region-title Новосибирск:
                        .footer__region-content
                            a.footer__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                            .footer__region-name Виталий Селемнев
                    .footer__region
                        .footer__region-title Воронеж:
                        .footer__region-content
                            a.footer__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                            .footer__region-name Виталий Шиганов
                    .footer__region
                        .footer__region-title Волгоград:
                        .footer__region-content
                            a.footer__region-phone(href="tel:+ 79119260218") + 7 (911) 926-02-18
                            .footer__region-name Александр Трудников




.footer__bottom
    .container
        .footer__bottom-wrapper
            .footer__bottom-left
                .footer__bottom-copyright  ©2024, «ВогезЭнерго». Все права защищены
            .footer__bottom-right
                .footer__bottom-promicom
                    .footer__bottom-promicom-text Разработка и поддержка:
                    a.footer__bottom-promicom-logo(href="https://promicom.ru")
                        img(src="/img/svg/promicom.svg")
