.product-types-prom {
    .product-types__bg {
      background-color: #00357A;
      background-image: url("../img/type3-bg.png");
    }
  
    .product-types__title {
      align-items: unset;
    }

    .product-types__title:before{
      margin-top: 5px;
      width: 30px;
      height: 24px;
      background-image: url('../img/svg/factory.svg');   
    }


    .product-types__item {
      .product-types__item-btn {
        color: #FFFFFF;
      }
    }

  
    .splide__pagination__page {
      background: #0A1F33;
    }
    .splide__pagination__page.is-active {
      background: #FFFFFF;
    }
    
  
    .product-types__item-btn {
      background: #0054AA;

      &:hover {
          background: #00357A;
      }
    }
}

@media screen and (min-width:768px) {
  .product-types-prom .product-types__title::before {
      width: 40px;
      height: 32px;
      background-image: url('../img/svg/factory-d.svg');   
    
  }
}