section.product-types.product-types-prom
    .container
        .product-types__block
            .product-types__bg
            .product-types__inner
                .product-types__top
                    .product-types__title 
                        span Промышленные предприятия
                    a.product-types__btn.btn-white.btn-small(href="#") Все товары для предприятий
                .product-types__text(data-spoiler) 
                    p Оборудование для промышленных предприятий - это машины и устройства, используемые для выполнения различных производственных задач. Оно может включать в себя все, от простых инструментов до сложных автоматизированных систем. Это оборудование помогает повысить эффективность производства, улучшить качество продукции и обеспечить безопасность рабочих мест.
                    span(data-close-text="Скрыть", data-open-text="Читать подробнее")
                .product-types__slider
                    .splide(data-slider="types")
                        .splide__track
                            .splide__list
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-img
                                            img(src="/img/type9.png")
                                        .product-types__item-content
                                            .product-types__item-title Клапаны регулирующие 2-3-х ходовые
                                            ul
                                                li особенность или описание подкатегории в 1-2 строки
                                                li вторая особенность
                                                li третья особенность, специально описанная в 2 строки

                                        .product-types__item-btns
                                            a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide            
                                    .product-types__item
                                        .product-types__item-img
                                            img(src="/img/type10.png")
                                        .product-types__item-content
                                            .product-types__item-title Моторизованные краны
                                            ul
                                                li особенность или описание подкатегории в 1-2 строки
                                                li вторая особенность
                                                li третья особенность, специально описанная в 2 строки

                                        .product-types__item-btns
                                            a.product-types__item-btn.btn-small(href="#") Подробнее


                                .splide__slide
                                    .product-types__item
                                        .product-types__item-img
                                            img(src="/img/type11.png")
                                        .product-types__item-content
                                            .product-types__item-title Электроприводы DAV
                                            ul
                                                li особенность или описание подкатегории в 1-2 строки
                                                li вторая особенность
                                                li третья особенность, специально описанная в 2 строки

                                        .product-types__item-btns
                                            a.product-types__item-btn.btn-small(href="#") Подробнее
                                .splide__slide
                                    .product-types__item
                                        .product-types__item-img
                                            img(src="/img/type12.png")
                                    .product-types__item-content
                                        .product-types__item-title Насосы циркуляционные
                                        ul
                                            li особенность или описание подкатегории в 1-2 строки
                                            li вторая особенность
                                            li третья особенность, специально описанная в 2 строки

                                    .product-types__item-btns
                                        a.product-types__item-btn.btn-small(href="#") Подробнее