html {
    font-family: $font-main;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size;
    line-height: 140%;
    background: $page-bg;
    color: $text-color;
    letter-spacing: normal;
    height: -webkit-fill-available;
}

html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.container {
    max-width: 1504px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 16px;
    min-width: 316px;
}


@media screen and (min-width 480px) {
    .container {
        padding: 0 16px;
        max-width: 480px;
    }
}

@media screen and (min-width 576px) {
    .container {
        padding: 0 24px;
        max-width: 766px;
    }
}


@media screen and (min-width 768.98px) {
    main {
        min-height: calc(100vh - 175px);
    }


    .container {
        padding: 0 24px;
        max-width: 766px;
    }
}

@media screen and (min-width 992.98px) {
    .container {
        padding: 0 30px;
        max-width: 990px;
    }
}


@media screen and (min-width 1200px) {
    main {
        min-height: calc(100vh - 159px);
    }

    .container {
        padding: 0 30px;
        max-width: 1200px;
    }
}



@media screen and (min-width 1440px) {
    main {
        min-height: calc(100vh - 207px);
    }
    .container {
        padding: 0 30px;
        max-width: 1450px;
    }
}


@media screen and (min-width 1504px) {
    .container {
        padding: 0;
        max-width: 1504px;
    }
}

a,
a:focus,
a:active,
a:visited {
    color: #0054AA;
}

a.btn-dark {
    background: #0054AA;
    color: #FFFFFF;

    &:hover {
        background: #00357A;
    }
}

a.btn-white {
    background: #FFFFFF;
    color: #0A1F33;
    &:hover {
        background: #DFE5EB;
    }
}

a.btn-blue {
    background: #05ADFF;
    color: #FFFFFF;
    &:hover {
        background: #0089CC;
    }
}

.btn-small {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.btn-big {
    padding: 14px 32px;
    border-radius: 10px;
    font-weight: 600;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
}

section {
    padding: 24px 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
}

.dnone {
    display: none;
}

main {
    padding-top:128px;
}

@media screen and (min-width: 998px) {
    main {
        padding-top:66px;
    }
}


.no-scroll {
    overflow: hidden;
}


.splide__arrows {
    position: absolute;
    bottom: -72px;
    right: 0;
    display: flex;

    .splide__arrow {
        height: 40px;
        width: 40px;
        border-radius: 8px;
        background: #FFF;
        opacity: 1;
        position: relative;
        left:0;
        right:0;
        top:0;
        transform: unset;

        background-image: url('../img/svg/left.svg');
        background-repeat: no-repeat;
        background-position: center;

        svg {
            display: none;
        }
    }

    .splide__arrow:disabled {
        display: none;
    }

    .splide__arrow--prev {
        margin-right: 12px;
    }
    .splide__arrow--next {
        transform: scaleX(-1);
    }

}

.splide__pagination {
    
    .splide__pagination__page {
        width: 16px;
        height: 4px;
        border-radius: 2px;
        background: #C4DBF5;
        margin:0;
        opacity: unset;
        margin-right: 12px;

    }
    .splide__pagination__page.is-active {
        width: 48px;
        background: #0054AA;
        transform: unset;
    }

    li {
        font-size: 4px;
        list-style: none;
    }

}

[data-spoiler] span  {
    display: none;
}

[data-spoiler] > p {
    margin-bottom: 0;
}

[data-spoiler].hide > p {
    max-height: 100px;
    overflow: hidden;
}

[data-spoiler].hide > span {
    display: inline-block;
}

[data-spoiler].open > p {
    max-height: unset;
}

[data-spoiler].open > span {
    display: inline-block;
}


img {
    max-width: 100%;
}

p {
    margin-bottom: 24px;
}

input {
    border: 1px solid #143E66;
    border-radius: 10px;
    font-size: 15px;
    line-height: 24px;
    padding: 14px 16px;
}